// Fonts
$font-family-body: /*"Times New Roman", "KaiTi",*/ "Microsoft YaHei", "Helvetica", "Arial", "PingFang SC";
$font-size: 17px;

$line-height: 1.8;
$page-width: 43rem;
$page-blog-width: 50rem;
// Logo
$logo-width: 50px;
$logo-height: 50px;
$logo-change: true;