<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<style>
  #title,h2,.h2,h1,.h1 {font-family: 'Times New Roman', Times;}
</style>
{{ partial "head.html" . }}
<body class="max-width mx-auto px3 ltr">
  <div class="content index py4">
    {{ partial "header.html" . }}

    {{ if eq .Type "location" }}
    {{ partial "location.html" . }}
    {{ end }}
    
    {{ if eq .Type "projects" }}
    {{ partial "projects.html" . }}
    {{ end }}
    
    {{ if eq .Type "about" }}
    {{ partial "timeline.html" . }}
    {{ end }}
    
    {{ block "main" . }}
    {{ end }}

    {{ if eq .Type "about" }}
    {{ partial "comments.html" . }}
    {{ end }}
    
    {{ partial "search.html"}}
    
    {{ partial "footer.html" . }}
  </div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/main.js"></script>
{{ if .Site.Params.snow}}
<script src="/js/snow.js"></script>
{{ end }}
<script src="/js/fuse.min.js"></script>
<script src="/js/fastsearch.js"></script>
</html>