{{ define "main"}}
<div id="archive">
  {{if not (eq .Type "categories")}}
  {{if not (eq .Type "tags")}}
  <section style="margin-top: 10px;">
    <!-- <span class="h2">Categories</span> -->
    {{ range .Site.Taxonomies.categories.Alphabetical }}
      <span>
        <a href="{{ .Page.Permalink }}" style="text-transform: uppercase;">{{ .Page.Title }}</a>{{/*【 .Count 】*/}} &nbsp
      </span>
    {{ end }}
  </section>
  <br>
  <section>
    <!-- <span class="h2">Tags</span> -->
    <span>
      {{ $AllRegularPagesCount := len .Site.RegularPages }}
      {{ range $elem := .Site.Taxonomies.tags.Alphabetical }}
      <a style="font-size: {{ (add 1.0 (mul 5 (div (float $elem.Count) $AllRegularPagesCount))) }}rem;"
        href="{{ $elem.Page.Permalink }}">
        {{- .Page.Title -}}
      </a>
      {{ end }}
    </span>
  </section>
  <br>
  {{end}}
  {{end}}

  <ul class="post-list">
    {{ $pages := .Paginator.Pages }}
    {{ if .Site.Params.showAllPostsArchive }}
    {{ $pages = .Pages }}
    {{ end }}
    {{ range (sort $pages "Date" "desc") }}
    {{ $pageYear := (.Date.Format "2006") }}
    {{ if (ne $pageYear ($.Scratch.Get "year")) }}
    {{ $.Scratch.Set "year" $pageYear }}
    <!-- <h2>{{ $pageYear }}</h2> -->
    {{ end }}
    <li class="post-item ellipsis-line">
      <nobr><time class="meta" datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format
          (.Site.Params.dateFormat | default "2006-01-02") }}</time>
        ··········&nbsp&nbsp
        <a href="{{ .Permalink }}">{{ if .Title }} {{ .Title }} {{ else }} Untitled {{ end }}</a>
      </nobr>
    </li>
    {{ end }}
  </ul>
  {{ if eq .Site.Params.showAllPostsArchive false }}
  {{ partial "pagination.html" . }}
  {{ end }}
</div>
{{ end }}