$color-background: #1d1f21;
$color-footer-mobile-1: lighten($color-background, 2%);
$color-footer-mobile-2: lighten($color-background, 10%);
$color-background-code: lighten($color-background, 2%);
$color-border: #666;
$color-meta: #666;
$color-meta-code: #666;
$color-link: rgb(48, 174, 117);
$color-text: #c9cacc;
$color-accent-1: #2bbc8a;
$color-accent-2: #FFFFFF;
$color-accent-3: #b6b5b5;
$color-accent-4: #676666;
$color-quote: #ccffb6;

// extra
$color-code: #282a36;
// $color-scrollbar-track: rgba(173, 173, 173, 0.8);
$color-scrollbar-track: #1d1f21;
// $color-scrollbar-thumb: #1d1f21;
$color-scrollbar-thumb: rgba(173, 173, 173, 0.8);
$color-quote-bg: rgb(48, 48, 48);
$color-quote-font: #FFFFFF;
$color-quote-border: #78C0A8;
$color-search-bg: #333;
$color-search-text: #FFFFFF;
$color-search-border: #000;
$color-search-btn: #47b48d;