$color-background: #acb9a1;
$color-footer-mobile-1: darken($color-background, 2%);
$color-footer-mobile-2: darken($color-background, 10%);
$color-background-code: darken($color-background, 2%);
$color-border: rgb(102, 101, 101);
$color-meta: rgba(43, 47, 47, 0.8);
$color-meta-code: lighten($color-meta, 10%);
$color-link: #040404;
$color-text: #4d4d4d;
$color-accent-1: #363636;
$color-accent-2: rgba(16, 51, 50, 0.8);
$color-accent-3: rgba(63, 115, 113, 0.8);
$color-accent-4: rgba(177, 223, 221, 0.8);
$color-quote: #814c54;

// extra
$color-code: #e7e9db;
$color-scrollbar-track: rgba(255, 255, 255, 0.8);
$color-scrollbar-thumb: #7a896d;
$color-quote-bg: #a1b095;
$color-quote-font: #121111;
$color-quote-border: #7a896d;
$color-search-bg: #a1b095;
$color-search-text: #4d4d4d;
$color-search-border: #000;
$color-search-btn: #7a896d;